@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --color-primary: 	#CE181E;
  --color-secondary: #5A5A5A;
  --color-info: #2F80ED;
  --color-success: #07DC61;
  --color-warning: #FBC216;
  --color-error: #F64040;
  --color-gray1: #5A5A5A;
  --color-gray2: #A5A5A5;
  --color-browngold: #B58800;
  --color-black2: #32393A;
  --color-star: #FDC700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

@media print {
  nav,
  footer {
    display: none !important;
  }
}

/* Remove default hover effect */
.gm-ui-hover-effect {
  display: none !important;
}

/* Remove default InfoWindow white frame & padding */
.gm-style-iw {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* Remove inner padding wrapper */
.gm-style-iw-d {
  overflow: hidden !important;
  padding: 0 !important;
}

/* Remove bottom white tip / tail */
.gm-style-iw-t::after {
  display: none !important;
}

@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(206, 24, 30, 0.7);
    transform: scale(1);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(206, 24, 30, 0);
    transform: scale(1.03);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(206, 24, 30, 0);
    transform: scale(1);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s infinite;
}
